@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
  background-image: linear-gradient(
      to bottom,
      rgba(64, 64, 167, 0.979),
      rgba(47, 48, 64, 0.671)
    ),
    url(background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: rgb(72, 16, 126);
  padding: 28px 5px 28px 5px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 1400px;
}

.header_logo {
  cursor: pointer;
  width: 150px;
  height: 60px;
}

.header_nav {
  gap: 40px;
  display: flex;
}

.header__nav_menu-link {
  cursor: pointer;
  font-weight: 600;
  color: whitesmoke;
  font-family: "Hammersmith One";
  font-size: 15px;
  transition: all 0.6s ease;
}

.header__nav_menu-link:hover {
  color: #00e0d0;
}

.section_hero {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 1350px;
  margin-top: 250px;
}

.section__hero_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  row-gap: 30px;
}

.section__hero_title {
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 900;
}

.section__hero_line {
  width: 5%;
  height: 2px;
  background-color: #00e0d0;
}

.section__hero_paragraph {
  line-height: 1.5;
  color: #ffffff;
  font-family: "Roboto";
  text-align: center;
  font-size: 17px;
}

.section__hero_button {
  font-family: "Hammersmith One";
  color: #00e0d0;
  border: 2px solid #00e0d0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease;
}

.section__hero_button:hover {
  color: white;
  background-color: #00e0d0;
}

.section_hero_dots {
  margin-top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  border: 1px solid white;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #00e0d0;
  border: 1px solid #00e0d0;
}
